*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

p { padding: 0; margin: 0; }

.lineH30 { line-height: 2.3rem; }

.m_lineH50 { line-height: 50px; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_lineH50 { line-height: normal; } }

.lineH50 { line-height: 50px; }

.taL { text-align: left; }

.copytext { display: inline-block; width: 100%; color: rgba(255, 255, 255, 0.5); font-size: 1rem; border-top: 1px solid rgba(255, 255, 255, 0.5); padding: 20px 0; }

.footer_menu { display: inline-block; width: 100%; color: rgba(255, 255, 255, 0.5); font-size: 1.23rem; padding-bottom: 20px; text-align: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .footer_menu { text-align: center; } }

.white50 { display: inline-block; width: 100%; color: rgba(255, 255, 255, 0.5); font-size: 1.23rem; }
.white50.wB { color: black !important; }

.fan16 { display: inline-block; width: 100%; color: rgba(45, 45, 45, 0.5); font-size: 1.23rem; line-height: 1.5; text-align: left; padding-bottom: 30px; }

.tag50 { display: inline-block; width: 100%; color: rgba(45, 45, 45, 0.5); font-size: 1.23rem; line-height: 1.5; }

.tag80 { display: inline-block; width: 100%; color: rgba(45, 45, 45, 0.8); font-size: 1.23rem; }
.tag80.stepuse { line-height: 1.5; padding: 20px 0; min-height: 90px; }

.tagPink { display: inline-block; width: 100%; color: #d765b0; font-size: 1.23rem; }

.text18 { display: inline-block; width: 100%; font-size: 1.38rem; line-height: 1.5; }

.text18_w { display: inline-block; width: 100%; font-size: 1.38rem; color: white; }

.store18 { display: inline-block; font-size: 1.3rem; padding-left: 15px; }

.text20_80 { display: inline-block; width: 100%; color: rgba(45, 45, 45, 0.8); font-size: 1.53rem; }

.service24 { display: inline-block; width: 100%; font-size: 1.8rem; padding-bottom: 20px; text-align: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .service24 { padding-bottom: 15px; } }

.service16 { display: inline-block; font-size: 1.23rem; padding-bottom: 10px; float: left; }

.service18 { display: inline-block; font-size: 1.3rem; padding-bottom: 10px; font-weight: bold; float: right; }

.text36 { display: inline-block; width: 100%; font-size: 2.5rem; font-weight: bold; padding-bottom: 20px; }
@media screen and (max-width: 449px) and (min-width: 0) { .text36 { padding: 30px 0 20px 0; } }

.titleEnglish { display: inline-block; width: 100%; font-size: 3.84rem; font-weight: bold; padding: 25px 0; }
.titleEnglish.retitle { font-size: 3rem; }
@media screen and (max-width: 449px) and (min-width: 0) { .titleEnglish { font-size: 3rem; padding: 15px 0; } }

.titleWhite { display: inline-block; width: 100%; font-size: 3.84rem; font-weight: bold; color: white; }
.titleWhite.wBT { color: black !important; }
@media screen and (max-width: 449px) and (min-width: 0) { .titleWhite { font-size: 2.1rem; padding-bottom: 30px; } }

.retextBlue { display: inline-block; width: 100%; color: #566ceb; font-weight: bold; text-align: left; font-size: 1.6rem; padding-bottom: 10px; }

.retext { display: inline-block; width: 100%; color: rgba(45, 45, 45, 0.5); text-align: left; font-size: 1.23rem; padding-left: 20px; line-height: 1.8; padding-bottom: 20px; }

.retextWhite { display: inline-block; width: 100%; color: white; text-align: left; font-size: 1.23rem; padding-bottom: 10px; }

.retext50 { display: inline-block; width: 100%; color: rgba(255, 255, 255, 0.5); text-align: left; font-size: 1.23rem; padding: 20px 0; }

.reBigWhite { display: inline-block; width: 100%; color: white; font-weight: bold; font-size: 5rem; text-align: left; padding-top: 40px; }
@media screen and (max-width: 449px) and (min-width: 0) { .reBigWhite { padding-top: 23px; font-size: 3rem; } }
