*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

p { padding: 0; margin: 0; }

.lineH30 { line-height: 2.3rem; }

.taL { text-align: left; }

.copytext { display: inline-block; width: 100%; color: rgba(255, 255, 255, 0.5); font-size: 1rem; border-top: 1px solid rgba(255, 255, 255, 0.5); padding: 20px 0; }

.footer_menu { display: inline-block; width: 100%; color: rgba(255, 255, 255, 0.5); font-size: 1.23rem; padding-bottom: 20px; text-align: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .footer_menu { text-align: center; } }

.white50 { display: inline-block; width: 100%; color: rgba(255, 255, 255, 0.5); font-size: 1.23rem; }

.tag50 { display: inline-block; width: 100%; color: rgba(45, 45, 45, 0.5); font-size: 1.23rem; line-height: 1.5; }

.tag80 { display: inline-block; width: 100%; color: rgba(45, 45, 45, 0.8); font-size: 1.23rem; }

.tagPink { display: inline-block; width: 100%; color: #d765b0; font-size: 1.23rem; }

.text18 { display: inline-block; width: 100%; font-size: 1.38rem; line-height: 1.5; }

.text18_w { display: inline-block; width: 100%; font-size: 1.38rem; color: white; }

.text20_80 { display: inline-block; width: 100%; color: rgba(45, 45, 45, 0.8); font-size: 1.53rem; }

.text36 { display: inline-block; width: 100%; font-size: 2.5rem; font-weight: bold; padding-bottom: 20px; }

.titleEnglish { display: inline-block; width: 100%; font-size: 3.84rem; font-weight: bold; padding: 25px 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .titleEnglish { font-size: 3rem; } }

.titleWhite { display: inline-block; width: 100%; font-size: 3.84rem; font-weight: bold; color: white; }
@media screen and (max-width: 449px) and (min-width: 0) { .titleWhite { font-size: 2.1rem; padding-bottom: 30px; } }
