*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

a { display: inline-block; cursor: pointer; text-decoration: none; outline: 0; }

button { display: inline-block; cursor: pointer; outline: 0; border: 0; background-color: transparent; }

.btn01 { padding: 10px 30px; font-size: 1.23rem; color: #566ceb; border: 1px solid #566ceb; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.btn01.full100 { display: inline-block; width: 80%; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .btn01.full100 { width: 100%; margin-bottom: 20px; } }
.btn01:hover { color: white; background-color: #566ceb; }

.btn02 { display: inline-block; width: 100%; max-width: 200px; padding: 10px 0; font-size: 1.38rem; color: white; border: 1px solid #566ceb; background-color: #566ceb; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.btn02:hover { color: white; background-color: #d765b0; border: 1px solid #d765b0; }

.btn03 { display: inline-block; padding: 10px 30px; font-size: 1.38rem; color: rgba(45, 45, 45, 0.5); font-weight: bold; border: 2px solid rgba(45, 45, 45, 0.5); -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; float: left; }
.btn03.b3_nL { float: none; }
@media screen and (max-width: 449px) and (min-width: 0) { .btn03.b3_nL { float: left; } }
.btn03:hover { color: white; background-color: #d765b0; border: 1px solid #d765b0; }

.menu { display: inline-block; font-size: 1.38rem; color: #2d2d2d; font-weight: bold; text-align: center; padding-right: 40px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.menu:after { display: block; content: attr(title); font-size: 1rem; }
.menu:hover { color: #d765b0; }

.socieBtn { display: inline-block; width: 45px; display: flex; justify-content: center; align-items: center; height: 45px; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; background-color: #566ceb; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; margin-left: 10px; float: left; }
.socieBtn:hover { background-color: #d765b0; }

.footerA { display: inline-block; width: 100%; color: white; font-size: 1.23rem; text-align: left; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; line-height: 1.5; }
.footerA:hover { color: #d765b0; }
@media screen and (max-width: 449px) and (min-width: 0) { .footerA { text-align: center; line-height: 2; } }

.m_menuA { display: inline-block; width: 80%; border-bottom: 2px solid rgba(255, 255, 255, 0.5); padding-bottom: 20px; margin-bottom: 20px; color: rgba(45, 45, 45, 0.8); font-size: 1.53rem; font-weight: bold; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; text-align: left; }
.m_menuA:hover { color: #d765b0; }

.fanLink { display: inline-block; width: 100%; font-size: 1.23rem; text-align: left; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; color: black; }
.fanLink:hover { color: #d765b0; }
