@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

html { font-size: 13px; }

body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; color: #2d2d2d; font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; background-color: white; text-align: center; }

header { width: 100%; padding: 0 30px; display: flex; justify-content: center; align-items: center; height: 80px; background: #f6e1f2; /* Old browsers */ background: -moz-linear-gradient(45deg, #f6e1f2 0%, #dcdffa 67%, #eee0f6 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(45deg, #f6e1f2 0%, #dcdffa 67%, #eee0f6 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(45deg, #f6e1f2 0%, #dcdffa 67%, #eee0f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e1f2', endColorstr='#eee0f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }

.header_L_Boxs { display: inline-block; float: left; text-align: left; width: 30%; }

.header_R_Boxs { display: inline-block; float: right; text-align: right; width: 70%; }

.titleBoxs { width: 100%; max-width: 1200px; margin: 0 auto; display: flex; justify-content: center; align-items: center; height: 320px; }

.allBoxs { display: inline-block; width: 100%; max-width: 1200px; margin: 0 auto; *zoom: 1; }
.allBoxs:after { display: table; content: ""; line-height: 0; clear: both; }

.fullBoxs { display: inline-block; width: 100%; height: 800px; }
.fullBoxs.pic01 { background: url(../image/grap01.svg) 650px -144px no-repeat; -moz-background-size: unset; background-size: unset; }

.boxs50 { display: inline-block; width: 50%; float: left; }

.gradualBG { display: inline-block; width: 100%; height: 800px; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcd6ed+0,c4d1fc+62,f0d5ef+100 */ background: #fcd6ed; /* Old browsers */ background: -moz-linear-gradient(-45deg, #fcd6ed 0%, #c4d1fc 62%, #f0d5ef 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(-45deg, #fcd6ed 0%, #c4d1fc 62%, #f0d5ef 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(135deg, #fcd6ed 0%, #c4d1fc 62%, #f0d5ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd6ed', endColorstr='#f0d5ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }
