@import "Ginkgo";

$main_color: rgba(86, 108, 235, 1.00);  // 藍紫色
$se_color: rgba(215, 101, 176, 1.00);  // 粉色
$black50: rgba(45, 45, 45, .5);  // 淺灰色50
$black80: rgba(45, 45, 45, .8);  // 淺灰色80
$white50: rgba(255, 255, 255, .5);  // 淺白色50


// 首頁Banner
#banner {
  overflow: hidden;
  width: 100%;
  height: 600px;
  position: relative;
  float: left;
  padding-bottom: 10px;
}

#tab > img:not(:first-child) {
  display: none;
}

.lunbo_btn {
  height: 15px;
  width: 100%;
  margin: 0px auto;
  margin-top: -40px;
  position: absolute;
  z-index: 3;
  text-align: center;

  span {
    width: 14px;
    height: 14px;
    display: inline-block;
    background-color: #b4b5b7;
    border-radius: 50%;
    margin: 0px 2px;
    cursor: pointer;

    &.hover {
      background-color: #ffb23c;
    }
  }
}

.arrow {
  display: none;
  width: 30px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 999;

  span {
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
  }
}

.slider_left {
  margin: 25px 0 0 10px;
  transform: rotate(45deg);
}

.prve {
  left: 0;
}

.next {
  right: 0;
}

.slider_right {
  margin: 25px 0 0 5px;
  transform: rotate(-135deg);
}

.arrow:hover {
  background: #444;
}

#banner:hover .arrow {
  display: block;
}



// 首頁髮訊
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;

  /* 容器必须有固定高度
   * 且高度大于最高的列高 */
  height: 900px;

  /* 非必须 */
  // background-color: #f7f7f7;
  border-radius: 15px;
  padding-top: 50px;
  width: 100%;
  // margin: 40px auto;
  counter-reset: items;
}

.item {
  width: 32%;

  @include range-width(0, 450px) {
    width: 50%;
  }

  /* 非必须 */
  position: relative;
  margin-bottom: 2%;
  border-radius: 15px;
  // border: 1px solid #4290e2;
  // box-shadow: 0 2px 2px rgba(0, 90, 250, 0.05), 0 4px 4px rgba(0, 90, 250, 0.05), 0 8px 8px rgba(0, 90, 250, 0.05), 0 16px 16px rgba(0, 90, 250, 0.05);
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;

  .infan {
    display: inline-block;
    position: absolute;
    left: 15px;
    bottom: 10px;
    text-align: left;

    .infanDay {
      display: inline-block;
      @include border-radius(15px);
      padding: 5px 10px;
      color: white;
      font-size: 1.1rem;
      margin-bottom: 10px;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6add9+0,88a6fa+100 */
      background: #f6add9; /* Old browsers */
      background: -moz-linear-gradient(45deg,  #f6add9 0%, #88a6fa 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg,  #f6add9 0%,#88a6fa 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg,  #f6add9 0%,#88a6fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6add9', endColorstr='#88a6fa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .infantext {
      display: inline-block;
      width: 100%;
      font-size: 1.23rem;
      color: white;
      padding-right: 15px;
    }
  }
}

/* 仅用于打印数字 */

// div.item::before {
//   counter-increment: items;
//   content: counter(items);
// }

/* 将内容块重排为3列 */

.item {
  &:nth-of-type(3n+1) {
    order: 1;
  }

  &:nth-of-type(3n+2) {
    order: 2;
  }

  &:nth-of-type(3n+3) {
    order: 3;
  }

  @include range-width(0, 450px) {
    &:nth-of-type(2n+1) {
      order: 1;
    }

    &:nth-of-type(2n+2) {
      order: 2;
    }
  }
}

/* 强制换列 */

.break {
  flex-basis: 100%;
  width: 0;
  // border: 1px solid #ddd;
  margin: 0;
  content: "";
  padding: 0;
}



// 手機Menu
.m_header_r {
  display: none;

  @include range-width(0, 1040px) {
    display: inline-block;
  }
}
.m_menu {
  display: none;
  width: 100%;
  height: 100vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6d5ed+0,cbd1f9+100 */
  background: #f6d5ed; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #f6d5ed 0%, #cbd1f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #f6d5ed 0%,#cbd1f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #f6d5ed 0%,#cbd1f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d5ed', endColorstr='#cbd1f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  position: fixed;
  z-index: 9999;
  top: 0;
  right: -100%;
  @include transition(all .3s);
  

  @include range-width(0, 1040px) {
    display: inline-block;
  }

  &.menu_open {
    right: 0;
  }

  .menuBox {
    display: inline-block;
    width: 100%;
    height: 100vh;
    // position: relative;
    background: url(../image/m_menu_bg.svg)  bottom right no-repeat;
    -moz-background-size: cover;
    background-size: cover;
  }

  .menuClose {
    display: inline-block;
    width: 20%;
    float: right;
    margin: 20px 0;
  }
}



// tag切換・網頁
.tagBoxs {
  display: inline-block;
  width: 100%;
  padding-bottom: 50px;
  @include clearfix();

  @include range-width(0, 450px) {
    padding-bottom: 30px;
  }

  .tagMenu {
    display: inline-block;
    cursor: pointer;
    font-size: 1.23rem;
    color: $black50;
    padding: 10px;
    float: left;
    @include transition(all .3s);
    font-weight: bold;
    @include border-radius(15px);

    &.tM6 {
      width: calc(100% / 6);

      @include range-width(0, 450px) {
        display: none;
      }
    }

    &.tM_noF {
      float: none;
    }

    &.loi_s {
      color: white;
      background-color: $se_color;
    }

    &:hover {
      color: white;
      background-color: $se_color;
    }
    
  }
}
.qaBoxs {
  display: inline-block;
  width: 100%;
  // 控制按鈕分頁，設定預設值是沒有顯示
  display: none;

  &.qaBoxs_show {
    display: inline-block;
  } 
}
// tag切換・手機
.w_select_type {
  display: none;

  @include range-width(0, 450px) {
    display: inline-block;
  }
  
  width: 100%;
  float: right;
  font-size: 1.6rem;
  padding: 10px;
  // background-color: $se_color;
  // border: 1px solid rgba(198, 198, 198, 1.00);
  // color: black;
  @include border-radius(5px);
  border: 0;
  color: white;

  /*適應safari瀏覽器內容不跑偏*/
  line-height: 1;
  /*將預設的select選擇框樣式清除*/  
  appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none;  
  /*在選擇框的最右側中間顯示小箭頭圖片*/  
  background: url("../image/arrow.svg") no-repeat $se_color 310px center;
  background-size: 20px 37px;
  /*為下拉小箭頭留出一點位置,避免被文字覆蓋*/  
  padding-right: 14px;
  /*去除選中時樣式*/
  outline: none;
  // margin-top: 5px;
}



// 手風琴
.accordion {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-bottom: 80px;

  @include range-width(0, 450px) {
    margin-bottom: 40px;
  }

  .p_page {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    @include transition(height .3s);
    
    + .p_page {
      margin-top: 10px;
    }

    > span {
      display: inline-block;
      width: 100%;
      padding: 10px 0;
      margin-bottom: 5px;
      cursor: pointer;
      font-size: 2rem;
      line-height: 55px;
      color: #2d2d2d;
      font-weight: bold;
      @include transition(all .3s);
      
      &:hover, &:active {
        // background-color: red;
      }

      @include range-width(0, 450px) {
        padding: 10px;
        font-size: 1.5rem;
        line-height: 33px;
      }
    }

    > div {
      display: inline-block;
      width: 100%;
      padding: 10px 60px;
      font-size: 1.38rem;
      color: #2d2d2d;
      line-height: 2;
      // font-weight: 300;

      @include range-width(0, 450px) {
        padding: 10px;
      }
    }
  }
}












