@import "Ginkgo";

$main_color: rgba(86, 108, 235, 1.00);  // 藍紫色
$se_color: rgba(215, 101, 176, 1.00);  // 粉色
$black50: rgba(45, 45, 45, .5);  // 淺灰色50
$black80: rgba(45, 45, 45, .8);  // 淺灰色80
$white50: rgba(255, 255, 255, .5);  // 淺白色50

p {
  padding: 0;
  margin: 0;
}

.lineH30 {
  line-height: 2.3rem;
}

.m_lineH50 {
  line-height: 50px;
  @include range-width(0, 770px) {
    line-height: normal;
  }
}

.lineH50 {
  line-height: 50px;
}

.taL {
  text-align: left;
}

// 13pt
.copytext {
  display: inline-block;
  width: 100%;
  color: $white50;
  font-size: 1rem;
  border-top: 1px solid $white50;
  padding: 20px 0;
}


// 16pt
.footer_menu {
  display: inline-block;
  width: 100%;
  color: $white50;
  font-size: 1.23rem;
  padding-bottom: 20px;
  text-align: left;

  @include range-width(0, 450px) {
    text-align: center;
  }
}

.white50 {
  display: inline-block;
  width: 100%;
  color: $white50;
  font-size: 1.23rem;

  &.wB {
    color: black !important;
  }
}

.fan16 {
  display: inline-block;
  width: 100%;
  color: $black50;
  font-size: 1.23rem;
  line-height: 1.5;
  text-align: left;
  padding-bottom: 30px;
}

.tag50 {
  display: inline-block;
  width: 100%;
  color: $black50;
  font-size: 1.23rem;
  line-height: 1.5;
}

.tag80 {
  display: inline-block;
  width: 100%;
  color: $black80;
  font-size: 1.23rem;

  &.stepuse {
    line-height: 1.5;
    padding: 20px 0;
    min-height: 90px;
    font-weight: bold;

    @include range-width(450px, 770px) {
      min-height: 110px;
    }

    @include range-width(0, 450px) {
      padding-bottom: 60px;
    }
  }
}

.tagPink {
  display: inline-block;
  width: 100%;
  color: $se_color;
  font-size: 1.23rem;
}


// 18pt
.text18 {
  display: inline-block;
  width: 100%;
  font-size: 1.38rem;
  line-height: 1.5;
}

.text18_w {
  display: inline-block;
  width: 100%;
  font-size: 1.38rem;
  color: white;
}

.store18 {
  display: inline-block;
  font-size: 1.3rem;
  padding-left: 15px;
}


// 20pt
.text20_80 {
  display: inline-block;
  width: 100%;
  color: $black80;
  font-size: 1.53rem;
}


// service
.service24 {
  display: inline-block;
  width: 100%;
  font-size: 1.8rem;
  padding-bottom: 20px;
  text-align: left;

  @include range-width(0, 450px) {
    padding-bottom: 15px;
  }
}

.service16 {
  display: inline-block;
  font-size: 1.23rem;
  padding-bottom: 10px;
  float: left;
  @include range-width(450px, 770px) {
    width: 100%;
    text-align: left;
  }
}

.service18 {
  display: inline-block;
  font-size: 1.3rem;
  padding-bottom: 10px;
  font-weight: bold;
  float: right;
  @include range-width(450px, 770px) {
    width: 100%;
    text-align: left;
  }
}

// 36pt
.text36 {
  display: inline-block;
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 20px;

  @include range-width(0, 450px) {
    padding: 30px 0 20px 0;
  }
}


// 50pt
.titleEnglish {
  display: inline-block;
  width: 100%;
  font-size: 3.84rem;
  font-weight: bold;
  padding: 25px 0;

  &.retitle {
    font-size: 3rem;
  }

  @include range-width(0, 450px) {
    font-size: 3rem;
    padding: 15px 0;
  }
}

.titleWhite {
  display: inline-block;
  width: 100%;
  font-size: 3.84rem;
  font-weight: bold;
  color: white;

  &.wBT {
    color: black !important;
  }

  @include range-width(0, 450px) {
    font-size: 2.1rem;
    padding-bottom: 30px;
  }
}


.retextBlue {
  display: inline-block;
  width: 100%;
  color: $main_color;
  font-weight: bold;
  text-align: left;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

.retext {
  display: inline-block;
  width: 100%;
  color: $black50;
  text-align: left;
  font-size: 1.23rem;
  padding-left: 20px;
  line-height: 1.8;
  padding-bottom: 20px;
}

.retextWhite {
  display: inline-block;
  width: 100%;
  color: white;
  text-align: left;
  font-size: 1.23rem;
  padding-bottom: 10px;
}

.retext50 {
  display: inline-block;
  width: 100%;
  color: $white50;
  text-align: left;
  font-size: 1.23rem;
  padding: 20px 0;
}

.reBigWhite {
  display: inline-block;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 5rem;
  text-align: left;
  padding-top: 40px;

  @include range-width(0, 450px) {
    padding-top: 23px;
    font-size: 3rem;
  }
}















