@import "Ginkgo";

$main_color: rgba(86, 108, 235, 1.00);  // 藍紫色
$se_color: rgba(215, 101, 176, 1.00);  // 粉色
$black50: rgba(45, 45, 45, .5);  // 淺灰色50
$black80: rgba(45, 45, 45, .8);  // 淺灰色80
$white50: rgba(255, 255, 255, .5);  // 淺白色50


.img400{
  display: inline-block;
  width: 100%;
  height: 400px;
}
.img270{
  display: inline-block;
  width: 100%;
  height: 270px;
}
.img335{
  display: inline-block;
  width: 100%;
  height: 335px;
}

.m_w80 {
  @include range-width(0, 770px) {
    width: 80%;
  }
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%;
  // margin: 60px 0;
  @include border-radius(15px);
  overflow: hidden;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
  }

  @include range-width(0, 770px) {
    margin: 35px 0;
  }
}

.min_close {
  @include range-width(0, 1040px) {
    display: none !important;
  }
}

.mob_close {
  @include range-width(0, 450px) {
    display: none !important;
  }
}

.mob_open {
  display: none;
  @include range-width(0, 450px) {
    display: inline-block !important;
  }
}

.o15 {
  @include border-radius(15px);
}

.reImg {
  display: inline-block;
  width: 100%;
  max-width: 160px;
  float: left;

  @include range-width(0, 450px) {
    max-width: 95px;
  }
}

.img128 {
  display: inline-block;
  width: 100%;
  max-width: 128px;
}

.imgFull {
  display: inline-block;
  width: 100%;
  max-width: 1200px;
}

.imgSetp {
  display: inline-block;
  width: 100%;
  max-width: 355px;
}

.imgSetpBoxs {
  display: inline-block;
  width: 100%;
  height: 465px;
}

.imgService {
  display: inline-block;
  width: 100%;
  max-width: 365px;
  height: 240px;
}


.imgLogo {
  display: inline-block;
  width: 100%;
  max-width: 285px;

  @include range-width(0, 450px) {
    float: left;
    max-width: 350px;
  }
}

.imgLogoF {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  float: left;

  @include range-width(0, 450px) {
    max-width: 300px;
    float: none;
  }
}


.imgPic01 {
  display: inline-block;
  width: 100%;
  max-width: 560px;
  float: left;
}

.imgQ {
  display: inline-block;
  width: 100%;
  max-width: 55px;
  margin-right: 10px;

  @include range-width(0, 450px) {
    max-width: 30px;
  }
}

// .socie_icon {
//   display: inline-block;
//   width: 100%;
//   max-width: 10px;
// }




// space
.pL20 {
  padding-left: 20px; 
}

.pTD80 {
  padding: 80px 0;

  @include range-width(0, 450px) {
    padding: 40px 0;
  }
}


.pTD20 {
  padding: 20px 0;
}

.pD20 {
  padding-bottom: 20px;
}

.pD80 {
  padding-bottom: 80px;
}

.pD300 {
  padding-bottom: 300px;
}

.pT80 {
  padding-top: 80px;
}

.pT50 {
  padding-top: 50px;
}

.m_pD30 {
  @include range-width(0, 770px) {
    padding-bottom: 30px;
  }
}


.m_pD20 {
  @include range-width(0, 450px) {
    padding-bottom: 20px;
  }
}

.m_pLR15 {
  @include range-width(0, 450px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.mD80 {
  margin-bottom: 80px;
}


.mT50 {
  margin-top: 50px;
}

.pageNub {
  display: inline-block;
  width: 100%;
  padding: 10px 0 60px 0;
  

  @include range-width(0, 450px) {
    padding: 40px 0;
  }

  .arrow_box {
    display: inline-block;
    font-size: 1.3rem;
    color: $black80;
    width: 40px;
    height: 40px;
    line-height: 40px;
    @include border-radius(30px);
    // border: 1px solid #636363;
    @include transition(all .3s);

    &.onPage {
      color: white;
      background-color: $main_color;
    }

    &:hover, &:active {
      color: white;
      background-color: $main_color;
    }
  }
}



