@import "Ginkgo";

html {
  font-size: 13px;
}

body {
  position: relative;

  display: inline-block;
  width: 100%;

  margin: 0;
  padding: 0;
  color: rgba(45, 45, 45, 1.00);
 
  font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  background-color: white;

  text-align: center;
}


header {
  width: 100%;
  padding: 0 30px;

  @include range-width(0, 450px) {
    padding: 15px;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;

  background: #f6e1f2; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #f6e1f2 0%, #dcdffa 67%, #eee0f6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #f6e1f2 0%,#dcdffa 67%,#eee0f6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #f6e1f2 0%,#dcdffa 67%,#eee0f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e1f2', endColorstr='#eee0f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

footer {
  display: inline-block;
  width: 100%;
  background-color: #292a3b;

  @include range-width(0, 450px) {
    padding: 0 15px;
  }
}

.header_L_Boxs {
  display: inline-block;
  float: left;
  text-align: left;
  width: 30%;
  @include range-width(0, 450px) {
    width: 70%;
  }
}

.header_R_Boxs {
  display: inline-block;
  float: right;
  text-align: right;
  width: 70%;

  @include range-width(0, 450px) {
    width: 30%;
  }
}


.titleBoxs {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;

  @include range-width(0, 450px) {
    max-width: none;
    height: 290px;
    padding: 0 15px;
  }

  &.gradual {
    max-width: none;
    margin: auto;
    background: #fcd6ed; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #fcd6ed 0%, #c4d1fc 62%, #f0d5ef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #fcd6ed 0%,#c4d1fc 62%,#f0d5ef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #fcd6ed 0%,#c4d1fc 62%,#f0d5ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd6ed', endColorstr='#f0d5ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}


.allBoxs {
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  @include clearfix();

  &.reCentBoxs {
    display: inline-block;
    @include border-radius(15px);
    padding: 50px 30px;
    margin-top: -125px;
    overflow: hidden;
    background:  #292a3b url(../image/reBG.svg)  center center no-repeat;
    -moz-background-size: contain;
    background-size: contain;

    @include range-width(0, 450px) {
      padding: 18px;
      margin-top: -42px;
      -moz-background-size: cover;
      background-size: cover;
    }
  }

  &.fasBorD {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 50px;
    padding-bottom: 20px;
  }

  &.aspTD20 {
    padding: 20px 0; 
  }

  &.aspTD30 {
    padding: 30px 0; 
  }

  // booking
  &.aspD50 {
    padding-bottom: 50px;
  }

  &.aspTD80 {
    padding: 80px 0; 

    @include range-width(0, 450px) {
      padding: 20px 15px; 
    }
  }

  // index
  &.aspD300 {
    padding-bottom: 300px;
  }
  // index
  &.aspTD200 {
    padding: 200px 0;
  }
  // index
  &.asmD200 {
    margin-bottom: -200px;
  }
}


.ds {
  display: inline-block;
  text-align: center;
}


.fullBoxs {
  display: inline-block;
  width: 100%;

  &.m_fullspace {
    @include range-width(0, 450px) {
      padding: 0 15px;
    }
  }

  &.pic01 {
    background: url(../image/grap01.svg)  650px -144px no-repeat;
    -moz-background-size: unset;
    background-size: unset;
  }

  &.pic02 {
    background: url(../image/grap02.svg)  bottom right no-repeat;
    -moz-background-size: inherit;
    background-size: inherit;
  }

   &.pic03 {
    background: url(../image/grap03.svg)  bottom left no-repeat;
    -moz-background-size: inherit;
    background-size: inherit;
  }

  &.spaceTD50 {
    padding: 50px 0;
  }

  &.spaceAll50 { 
    padding: 50px;

    @include range-width(0, 450px) {
      padding: 25px;
    }
  }
}

.boxs25 {
  display: inline-block;
  width: 25%;
  float: left;

  @include range-width(0, 450px) {
    width: 100%;
  }
}

.boxs50 {
  display: inline-block;
  width: 50%;
  float: left;

  @include range-width(0, 450px) {
    width: 100%;
  }

  &.pL50 {
    padding-left: 50px;

    @include range-width(0, 450px) {
      padding-left: 0;
    }
  }
}

// re
.boxs30 {
  display: inline-block;
  width: 30%;
  float: left;
  padding-left: 20px;

  @include range-width(0, 450px) {
    width: 100%;
    padding-left: 0;
  }
}

.boxs70 {
  display: inline-block;
  width: 70%;
  float: left;

  @include range-width(0, 450px) {
    width: 100%;
  }
}

.boxs30_f {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 155px;
  width: 30%;
  float: left;

  @include range-width(0, 450px) {
    width: 100%;
    min-height: auto;
  }
}

.gradualBG {
  display: inline-block;
  width: 100%;

  // @include range-width(0, 450px) {
  //   padding: 0 15px;
  // }

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcd6ed+0,c4d1fc+62,f0d5ef+100 */
  background: #fcd6ed; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #fcd6ed 0%, #c4d1fc 62%, #f0d5ef 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #fcd6ed 0%,#c4d1fc 62%,#f0d5ef 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #fcd6ed 0%,#c4d1fc 62%,#f0d5ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd6ed', endColorstr='#f0d5ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.whiteBG {
  display: inline-block;
  width: 100%;
  background-color: white;

  @include range-width(0, 450px) {
    padding: 0 15px;
  }
}

.in_blackfull {
  display: inline-block;
  width: 100%;
  background-color: #292a3b;
  padding-bottom: 100px;
}

.blackBoxs {
  width: 100%;
  max-width: 1200px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 368px;
  @include border-radius(30px);
  overflow: hidden;
  
  background: #2f3143 url(../image/bookingBg.svg)  top right no-repeat;
  -moz-background-size: cover;
  background-size: cover;

  @include range-width(0, 450px) {
    min-height: 310px;
    background: #2f3143 url(../image/m_bookingBg.svg)  top left no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    margin-bottom: 50px;
  }
}

.footerBoxs {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 368px;
  @include border-radius(30px);
  overflow: hidden;

  margin-top: -180px;
  
  background: #2f3143 url(../image/indexBg.svg)  top right no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

.stepBoxs {
  display: inline-block;
  width: calc(100% / 3 - 50px * 2 / 3);
  float: left;
  @include border-radius(15px);
  overflow: hidden;
  
  @include range-width(0, 450px) {
    width: 100%;
  }

  &:nth-child(3n+2) {
    margin-left: 50px;
    margin-right: 50px;

    @include range-width(0, 450px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.serviceBoxs {
  display: inline-block;
  width: calc(100% / 3 - 50px * 2 / 3);
  float: left;
  @include border-radius(15px);
  overflow: hidden;

  height: 450px;
  background-color: white;


  @include range-width(0, 450px) {
    width: 100%;
    margin-bottom: 20px;
  }


  &:nth-child(3n+2) {
    margin-left: 50px;
    margin-right: 50px;

    @include range-width(0, 450px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &:nth-child(3n+3) {
    margin-bottom: 50px;

    @include range-width(0, 450px) {
      margin-bottom: 20px;
    }
  }
}


.serviceTypeBoxs {
  display: inline-block;
  width: 100%;
  padding: 30px;
}


.fanBoxs {
  display: inline-block;
  width: calc(100% / 3 - 50px * 2 / 3);
  float: left;

  @include range-width(0, 450px) {
    width: 100%;
    margin-bottom: 40px;
  }

  &:nth-child(3n+2) {
    margin-left: 50px;
    margin-right: 50px;

    @include range-width(0, 450px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &:nth-child(3n+3) {
    margin-bottom: 50px;

    @include range-width(0, 450px) {
      margin-bottom: 40px;
    }
  }
}

.fanImgBoxs {
  display: inline-block;
  width: 100%;
  @include border-radius(15px);
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;

  @include range-width(0, 450px) {
    margin-bottom: 15px;
  }
  
  .fanDay {
    display: inline-block;
    position: absolute;
    left: 10px;
    bottom: 10px;
    @include border-radius(15px);
    padding: 5px 10px;
    color: white;
    font-size: 1.1rem;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6add9+0,88a6fa+100 */
    background: #f6add9; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #f6add9 0%, #88a6fa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #f6add9 0%,#88a6fa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #f6add9 0%,#88a6fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6add9', endColorstr='#88a6fa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

.storBoxs {
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  border-top: 1px solid #cccccc;
  padding: 50px 0;
}


.reBoxs {
  display: inline-block;
  width: calc(100% - 160px);
  float: left;
  padding-left: 20px;

  @include range-width(0, 450px) {
    width: calc(100% - 95px);
  }
}







